<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Search Book
        link(rel="stylesheet", href="./css/style_s.css")
        link(rel="stylesheet", href="./css/modal.css")
        script(src="js/redirect_toindex.js")
    body   
        article.html_article 
            div.container_head
                img.img_start(src="./images/descarga.jfif")
                h1.title Search Book
                img.img_favorite(src="./images/descarga.png")
            form.form1#form1
                div.form_search
                    input.form_title(type="text", id="title", placeholder="Enter a Title", requered="true")
                    p.not_title_warning
                    input.form_button(type="submit", name="button", value="Search")
        div.html_container
        div.modal#myModal
            div.modal-content
                span.close &times;
                div.info_container
        div.modal#myModal_fav
            div.modal-content 
                span.close_fav &times;
                div.info_container_fav
        script(src="js/search.js")