body{
    min-height: 100vh;
    background-color: rgba(171, 196, 179, 0.8);
    margin: 0;
    font-family: sans-serif;
  }
    
  *{
    box-sizing: border-box;
  }

.html_article{
    min-width: 320px;
    max-width: 450px;
    border: 2px solid hsla(950, 100%, 20%, .6);
    border-radius: 15px;
    margin: 10px auto;
    padding: 15px;
}

.title{
    color: hsla(950, 100%, 20%, .8);
    margin-top: 0;
    text-align: center;
}

.form_search{
  display: flex;
  justify-content: space-evenly;
}

.form_title{
  width: 70%;
  border: none;
  border-radius: 15px;
  background: none;
  background-color: #ffffff;
  text-align: center;
  height: 25px;

  & :focus{
    border-bottom: hsla(920, 100%, 50%, 0.8);
  }
}

.form_button{
  cursor: pointer;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  width: 25%;
  background-color:  hsla(920, 100%, 25%, 0.8);
  letter-spacing: 2px;
  padding: 4px;
  transition: transform .1s;
}

.form_button:active{
  transform: scale(.9);
}

.form_button:hover{
  background-color: hsla(920, 100%, 50%, 0.8); ;
}

.not_title_warning{
  display: none;
  position: absolute;
  background-color: white;
}

.html_container{
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  justify-content: space-evenly;
  align-items: center;
}