body{
    min-height: 100vh;
    background-color: rgba(171, 196, 179, 0.8);
    margin: 0;
    font-family: sans-serif;
  }
    
  *{
    box-sizing: border-box;
  }

  .html_article{
    display: flex;
    flex-direction: column;
    min-width: 310px;
    max-width: 450px;
    border: 2px solid hsla(950, 100%, 20%, .6);
    border-radius: 15px;
    margin: 10px auto;
    padding: 15px;
}

.title{
    color: hsla(950, 100%, 20%, .8);
    margin-top: 0;
    text-align: center;
}

.form_search{
  display: flex;
  justify-content: space-evenly;
}

.form_title{
  width: 70%;
  border: none;
  border-radius: 15px;
  background: none;
  background-color: #ffffff;
  text-align: center;
  height: 25px;

  & :focus{
    border-bottom: hsla(920, 100%, 50%, 0.8);
  }
}

.form_button{
  cursor: pointer;
  border: 2px solid white;
  border-radius: 15px;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  width: 25%;
  background-color:  hsla(920, 100%, 25%, 0.8);
  letter-spacing: 2px;
  padding: 4px;
  transition: transform .1s;
}

.form_button:active{
  transform: scale(.9);
}

.form_button:hover{
  background-color: hsla(920, 100%, 50%, 0.8); ;
}

.not_title_warning{
  display: none;
  position: absolute;
  background-color: white;
}

.html_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid_item{
  display: flex;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 20px;
}

.img{
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 3px dotted black;
  min-width: 135px;
  max-width: 135px;
  min-height: 200px;
  max-height: 200px;
  object-fit: cover;

  &:hover{
    filter: drop-shadow(10px 10px 10px rgba(95, 56, 185, 0.8));
    cursor: pointer;
  }
}

.favorite{
  position: absolute;
  z-index: 10;
  width: 20%;
  height: 10%;
  margin: 5px;

  &:hover{
    border: 2px solid hsla(950, 100%, 20%, .6);
    border-radius: 10px;
    cursor: pointer;
  }
}

.select_favorite{
  position: absolute;
  z-index: 10;
  width: 20%;
  height: 10%;
  margin: 5px;
}

.container_head{
  position: relative;
}

.img_favorite{
  position: absolute;
  right: 20px;
  top: 0px;
  width: 25px;
  height: 25px;

  &:hover{
    border: 2px solid darkorange;
    cursor: pointer;
  }
}

.img_start{
  position: absolute;
  left: 20px;
  top: 0px;
  width: 25px;
  height: 25px;
  border-radius: 3px;

  &:hover{
    border: 2px solid darkblue;
    cursor: pointer;
  }
}

.info_container_fav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
}

.info_container_fav div{
  position: relative;
  margin: 5px;
}

.info_container_fav p {
  font-size: .8rem;
  max-width: 135px; ;
}

.icons_fav{
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  z-index: 10;
  border-radius: 3px;

  &:hover{
    border: 2px solid darkred;
    border-radius: 0px;
    cursor: pointer;
  }
}

.result_warning{
  font-size: 20;
  color: darkred;
  margin-left: auto;
  margin-right: auto;
  font-weight: 800;
}

.p_title{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  max-width: 135px;
  text-align: center;
}

.info_container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 5px;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  grid-auto-flow: dense;
}

.info_container div:nth-child(1){
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  min-width: 150px;
  margin: 0px 20px;
}

.info_container div:nth-child(2){
  grid-row: 1 /  2;
  grid-column: 2 /  5;
  margin: 0px 10px;
  padding: 5px;
   display: inline;
}

.info_container div:nth-child(3){
  grid-row: 2 /  3;
  grid-column: 1 / 5;
  padding: 5px;
}

